.DS_Store
*pyc
*out
*log
*plt
*dat
*swp
*f5
*html
*bdf
*tar.gz
*vtk
*.su2
sfe_restart.cfg
flow.*
*sql

*cgns
*ugrid
*mapbc
*npy
*cfl
*921

mphys.egg-info/*
docs/build/doctrees
docs/_build
*__pycache__
build/
dist/

# input files
tests/input_files/*.xyz

.ropeproject
